<div class="wrapper">
    <div class="container">
      <!-- <div class="ribbon-1 ribbon"></div>
      <div class="ribbon-2 ribbon"></div> -->
      <section id="ribbonNav" class="row">
      <section class="col-12">
      <div id="scopedoc" class="ribbon-3 ribbon">
        <span>Scope Document</span>
      </div>
      <div id="triage" class="ribbon-3 ribbon">
          <span>Triage</span>

      </div>
      <div id="datacapture" class="ribbon-3 ribbon">
          <span>Data Capture</span>
      </div>
      <div id="dataentry" class="ribbon-3 ribbon">
          <span>Data Entry</span>
      </div>
      <div id="validation" class="ribbon-3 ribbon">
          <span>Validation</span>
      </div>
    </section>
  </section>
      <!-- <div class="ribbon-4 ribbon"></div>
      <div class="ribbon-5 ribbon"></div>
      <div class="ribbon-6 ribbon"></div> -->
    </div>
  </div>